/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Nunito:wght@400;600;700&family=Outfit&display=swap");

/* Root Element*/
:root {
  /* Fonts */
  --brand-name: "Lora", serif;
  --heading-text: "Nunito", sans-serif;
  --body-text: "Outfit", sans-serif;

  /* Colours */
  --black: #000;
  --white: #fff;
  --grey: #808080;
  --gold: #ff9736;
  --green: #549315;
  --secondary-grey: #3b3b3b;
  --primary-main: #0c356a;
  --secondary-blue: #279eff;
}
/* End of Root Element */

body {
  font-family: var(--body-text);
}

p {
  font-size: 1.25rem;
}

/* Modifying Bootstrap Classes */
.btn-primary {
  width: 100%;
  border-radius: 2rem;
  background-color: var(--secondary-blue);
}
/* End of Modifying Bootstrap Classes */

.hero-wrapper {
  height: 100vh;
}

.hero-content {
  background-image: url(../img/hero-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.navbar-brand {
  font-family: var(--brand-name);
  font-size: 1.5rem;
  color: var(--white);
}

.navbar-nav .nav-item {
  padding-left: 30px;
}

.navbar-nav .nav-item .nav-link {
  font-family: var(--heading-text);
  font-size: 1.25rem;
  color: var(--white);
}

/* Set the border color */
.navbar-toggler {
  border-color: var(--white);
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.tagline {
  color: var(--white);
  text-shadow: 0 4px 4px var(--black);
  font-size: 6rem;
  letter-spacing: 0.75rem;
  word-spacing: 7px;
}

.booking-section {
  width: 100%;
  height: 6rem;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;
  top: 50px;
}

.booking-icon {
  color: var(--grey);
}

.booking-text {
  font-size: 1.25rem;
}

.booking-form-input {
  border-right: 1px solid var(--grey);
}

.about-wrapper {
  height: 60vh;
}

.header {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.blue-text {
  color: var(--primary-main);
}

.img-about {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 20px;
}

.sub-header {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
}

.facility-wrapper {
  background-color: var(--primary-main);
  width: 100%;
  height: 40vh;
  border-radius: 20px;
}

.facility-wrapper > * {
  color: var(--white);
}

.facility-icon {
  font-size: 4rem;
}

.room-wrapper {
  height: 100vh;
  padding-top: 1.5rem;
}

.card {
  border-radius: 20px;
  height: 720px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-img-top {
  border-radius: 20px 20px 0 0;
  height: 276px;
}

.card-title {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.room-rating-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room-rating {
  color: var(--secondary-grey);
  margin-bottom: 0.25rem;
}

.fa-star {
  color: var(--gold);
}

.room-facility-icon {
  color: var(--grey);
}

.card-content {
  height: 320px;
  padding-bottom: 10px;
}

.room-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.room-facility-wrapper * {
  color: var(--green);
}

.gallery-wrapper {
  height: 100vh;
}

.carousel-inner {
  height: 700px;
  border-radius: 20px;
}

.img-gallery {
  object-fit: cover;
  height: auto;
  border-radius: 20px;
}

.footer-wrapper {
  background-color: var(--primary-main);
}

.footer-wrapper > * {
  color: var(--white);
}

.brand-name {
  font-family: var(--brand-name);
  font-size: 2rem;
}

.copyright-text {
  font-size: 1rem;
}

.footer-header {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

div.footer-wrapper.py-3 > div > div > div > ul {
  padding-left: 0;
}

div.footer-wrapper.py-3 > div > div > div > ul > li {
  list-style-type: none;
}

@media screen and (max-width: 1439px) {
  p {
    font-size: 1rem;
  }

  .tagline {
    font-size: 4rem;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  .header {
    font-size: 3rem;
  }

  .sub-header {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .facility-icon {
    font-size: 2rem;
  }

  .about-wrapper {
    height: 60vh;
  }

  .img-about {
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .facility-header {
    font-size: 2rem;
    margin-bottom: .25rem;
  }

  .room-wrapper {
    height: auto;
    padding-top: 1.5rem;
  }

  .card {
    height: 650px;
  }

  .gallery-wrapper {
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    height: 650px;
  }

  .card-content {
    height: 375px;
  }
}

@media screen and (max-width: 992px) {
  .about-wrapper {
    height: auto;
  }

  .card {
    margin-bottom: 1rem;
  }

  .card-content {
    height: 300px;
  }

  .carousel-inner {
    height: 0;
    padding-bottom: 75%; /* this sets carousel aspect ratio (4:1 here) */
  }
  
  .carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav .nav-item {
    padding-left: 0;
    display: flex;
    justify-content: end;
  }
}
